<header class="header">
  <div class="logo">
    <img src="pictures/logo3.png" alt="Logo KLIK2LEARN">
  </div>
  <nav class="navigation">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a></li>
      <li><a routerLink="/cours" routerLinkActive="active">Cours</a></li>
      <li><a routerLink="/etablissement" routerLinkActive="active">Les établissements</a></li>
      <li><a routerLink="/apropos" routerLinkActive="active">À propos de nous</a></li>
    </ul>
  </nav>
  <div class="auth-buttons">
    <a routerLink="/login" class="btn-login">Se connecter</a>
    <a routerLink="/register" class="btn-register">S'inscrire</a>
  </div>
</header>
